.product-page {
  text-align: center;
  margin: 20px 0;
  padding: $boxPadding;
  display: flex;
  > .product-header {
    margin-left: 10px;
    width: 30%;
    background-color: $primaryColor;
    border-radius: $radius;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      width: 70%;
      position: relative;
      > h1 {
        display: inline-block;
        color: white;
      }
      > span {
        margin: 0 10px;
        color: white;
      }
      > div {
        position: relative;
        img {
          width: 100%;
          border-radius: $radius;
          filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.2));
        }
        div {
          margin-top: 10px;
          color: #f1f1f1;
          text-align: justify;
        }
      }
      border-radius: $radius;
      padding: $boxPadding;
      border: 1px solid white;
    }
  }
}
