.products-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
.product-item {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: $radius;
  border: 2px solid #f0f3f9;
  background: white;
  transition: background 0.5s;
  &.active {
    color: white;
    background: linear-gradient(
      109.6deg,
      rgba(61, 121, 176, 1) 11.3%,
      rgba(35, 66, 164, 1) 91.1%
    );
  }
}

.input-type {
  margin: 0 10px;
  border-radius: $radius;
  border: 1px solid #f1f1f1;
  padding: 5px;
}
.btn {
  background: cornflowerblue;
  border-radius: $radius;
  border: none;
  color: white;
  // box-shadow: $boxShadow;
}
.type-item {
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: $radius;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  input {
    max-width: 50px;
    border: 2px solid #f0f3f9;
  }
}

.type-header {
  display: flex;
  justify-content: space-between;
  color: rgb(196, 202, 216);
}

.dashboard-container {
  transition-property: margin-top , opacity;
  transition-duration: 0.5s;
  &.blured {
    filter: blur(50px);
  }
  .groups {
    flex-direction: column;
  }
}

.floating-button {
  background-image: radial-gradient(
    circle 859px at 7.5% 18%,
    rgba(234, 6, 185, 1) 4.2%,
    rgba(251, 179, 8, 1) 92.7%
  );
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: white;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  left: 20px;
  transition: bottom 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &:focus {
    outline: none;
  }
  position: fixed;
  &.active {
    bottom: 20px;
  }
  &:not(.active) {
    bottom: -60px;
  }
}
.image-selector {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: $radius;
  border: 2px dashed #f0f3f9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f3f9;
  font-size: 4rem;
  transition-duration: 0.5s;
  transition-property: background, color, background-image;
  background-size: 100% 100%;
  &:hover {
    background: #f0f3f9 !important;
    color: white;
  }
}
#product-image {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.type-modal {
  background: red;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20px;
  width: 50%;
  height: 50%;
  margin-top: -20px;
  opacity: 0;
  transition-property: bottom , opacity;
  transition-duration: 0.5s;
  &.open {
    opacity: 1;
    bottom: 0;
  }
}
@media (max-width: 1600px) {
  .products-list {
    flex-direction: column;
  }
}

@media (max-width: 1300px) and (min-width: 900px) {
  .type-header {
    span {
      display: none;
    }
    span:first-child,
    span:nth-child(2),
    span:nth-child(4),
    span:nth-child(6),
    span:nth-child(8),
    span:last-child {
      display: inline-block;
    }
  }
  .type-item {
    span {
      display: none;
    }
    span:first-child,
    span:nth-child(2),
    span:nth-child(4),
    span:nth-child(6),
    span:nth-child(8),
    span:last-child {
      display: inline-block;
    }
  }
}

@media (max-width: 900px) {
  .type-header {
    span {
      display: none;
    }
    span:first-child,
    span:nth-child(2),
    span:last-child {
      display: inline-block;
    }
  }
  .type-item {
    span {
      display: none;
    }
    span:first-child,
    span:nth-child(2),
    span:last-child {
      display: inline-block;
    }
  }
}

@media (max-width: 1300px) {
  .col-md-6 {
    display: inline-block;
    width: 45%;
  }
}
