.products-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
.products-splitter {
  height: 100%;
  width: 5px;
  background: gray;
  color: gray;
  // margin: 0 10px;
}
.product-item {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: $radius;
  border: 2px solid #f0f3f9;
  background: white;
  transition: background 0.5s;
  &.active {
    color: white;
    background: linear-gradient(
      109.6deg,
      rgba(61, 121, 176, 1) 11.3%,
      rgba(35, 66, 164, 1) 91.1%
    );
  }
}
.input-type {
  margin: 0 10px;
  border-radius: $radius;
  border: 1px solid #f1f1f1;
  padding: 5px;
}
.btn {
  background: cornflowerblue;
  border-radius: $radius;
  border: none;
  color: white;
  // box-shadow: $boxShadow;
}
.type-item {
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: $radius;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.type-header {
  display: flex;
  justify-content: space-between;
  color: rgb(196, 202, 216);
}
.dashboard-container {
  .groups {
    flex-direction: column;
  }
}
