@import "../public/fonts/fontawesome/scss/fontawesome.scss";
@import "../public/fonts/fontawesome/scss/brands.scss";
@import "../public/fonts/fontawesome/scss/solid.scss";
@import "../public/fonts/fontawesome/scss/regular.scss";
@import "../public/fonts/fontawesome/scss/duotone.scss";
@import "../public/fonts/fontawesome/scss/light.scss";

@font-face {
  font-family: "Vazir";
  src: url(/fonts/Vazir.woff);
}

* {
  font-family: "Vazir";
}
