$radius: 5px;
$shadow: 0 0px 10px rgba(150, 150, 150, 0.3);

$primaryColor: rgb(79, 100, 218);
$mainColor: #c2cf4d;
$lightColor: #c9d1d3;
$darkColor: #2c2c2c;

$secondColor: rgb(45, 48, 68);
$secondHoverColor: rgb(87, 93, 131);
$boxMargin: 55px 105px;
$boxPadding: 15px;

$dashboardMain: rgb(190, 53, 145);
$dashboardSecond: rgb(41, 58, 76);